  
<!DOCTYPE HTML>
<html>
<head>
    <title>Flask-SocketIO Test</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <script src="//code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            // Use a "/test" namespace.
            // An application can open a connection on multiple namespaces, and
            // Socket.IO will multiplex all those connections on a single
            // physical channel. If you don't care about multiple channels, you
            // can set the namespace to an empty string.
            namespace = '/test';

            // Connect to the Socket.IO server.
            // The connection URL has the following format, relative to the current page:
            //     http[s]://<domain>:<port>[/<namespace>]
            var socket = io(namespace);

            // Event handler for new connections.
            // The callback function is invoked when a connection with the
            // server is established.
            socket.on('connect', function() {
                socket.emit('my_event', {data: 'I\'m connected!'});
            });

            // Event handler for server sent data.
            // The callback function is invoked whenever the server emits data
            // to the client. The data is then displayed in the "Received"
            // section of the page.
            socket.on('my_response', function(msg, cb) {
                $('#log').html('<br>' + $('<div/>').text('Received #' + msg.ID + ' : ' + msg.data + msg.Name + ' : ' + msg.Value).html());
                //$('#img').append(' src="smiley.gif" '   );
                $('#img').html('<img  src="/static/' + msg.firstName + '.' + msg.lastName + '.png" width="300" height="300" > </img> '   );
                $('#sound').html('<audio controls autoplay> <source src="/static/money.mp3" type="audio/mpeg"> </audio> '   );
                if (cb)
                    cb();
            });

  
        });
    </script>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>    
</head>
<body>

        <div class="jumbotron text-center">
            <h1>HubSpot Deal Scoreboard</h1>
            <p>This weeks leaderboard</p>
        </div>

        <div class="row">
            <div class="col-md-2"></div>


        
            <div class="col-md-8">Second column
                <div id="log"></div>
                <div id="img"></div>
                <div id="sound"></div>

            </div>

            <div class="col-md-2"></div>
        </div>

        <div class="well well-lg">Large Well</div>


        <div class="row">
            <div class="col-md-3"></div>

            <div class="col-md-2 ">
                <div class="well">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Name</th>
                            <th>Total $ Sales</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>John</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>20</td>
                        </tr>
                        </tbody>
                    </table>    
                </div>        
            </div>

            <div class="col-md-2"></div>
            <div class="col-md-2">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Total No of Sales</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>John</td>
                        <td>100</td>
                    </tr>
                    <tr>
                        <td>Mary</td>
                        <td>20</td>
                    </tr>
                    </tbody>
                </table>            
            </div>

            <div class="col-md-3"></div>


        </div>
        <div class="container">
            <h2>Well Size</h2>
            <div class="well well-sm">Small Well</div>
            <div class="well">Normal Well</div>
            <div class="well well-lg">Large Well</div>
          </div>


</body>
</html>
